.title {
    text-align: center;
    font-family: Impact, 'Arial', sans-serif;
}

.navigation {
    text-align: center;
    font-family: Impact, 'Arial', sans-serif;
}

.navigation ul {
    list-style: none;
}

.text {
    font-size: 24px;
}

.abouttext {
    font-size: 24px;
}

.abouttext span {
    color: goldenrod;
}

.bg-golden {
    background-color: goldenrod;
}